#photoswipe_admin h3 {
  line-height: 24px;
}

#photoswipe_admin input[type="text"] {
  width: 50%;
  font-size: 12px;
}

#photoswipe_admin .fl_box {
  float: left;
  width: 25%;
}

#photoswipe_admin .ps_border {
  clear: both;
  padding-bottom: 15px;
  border-bottom: solid 1px #e6e6e6;
}

@media screen and (max-width: 800px) {
  #photoswipe_admin .fl_box {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #photoswipe_admin p,
  #photoswipe_admin label {
    font-size: 10px;
  }
}

#wooswipe_admin {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

#wooswipe_admin .wooswipe_admin-main {
  width: 68%;
}

#wooswipe_admin .wooswipe_admin-sidebar {
  width: 30%;
  text-align: center;
}

#wooswipe_admin .wooswipe_admin-sidebar .btn {
  background: black;
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 10px;
}
#wooswipe_admin .wooswipe_admin-sidebar .btn:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
  #wooswipe_admin {
    flex-direction: column;
  }

  #wooswipe_admin .wooswipe_admin-main {
    width: 100%;
  }

  #wooswipe_admin .wooswipe_admin-sidebar {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
  }
}
